@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Roboto+Slab:wght@300;400;500;700;900&family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap');
$kumb-font: 'Kumbh Sans', sans-serif;
$roboto-font: 'Roboto Slab', serif;
$space-font: 'Space Mono', monospace;
$bg-color-main: #161932;
$bg-color-sec: #1E213F;
$tx-bg-color: #F87070;
$btn-bg-color: #F87070;
$tx-lime: #70F380;
$tx-purple: #D881F8;
$tx-white: #FFFFFF;
$tx-off-white: #EFF1FA;