@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Roboto+Slab:wght@300;400;500;700;900&family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #1E213F;
  height: 100%;
  position: relative;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
  color: white;
  margin-top: 32px;
  font-size: 1.5rem;
}

.progress-ring {
  -webkit-box-shadow: 0px 1px 5px 17px #292d53;
          box-shadow: 0px 1px 5px 17px #292d53;
  background-color: #161932;
  border-radius: 50%;
}

.progress-ring__circle {
  stroke: #F87070;
  -webkit-transition: 0.35s stroke-dashoffset;
  transition: 0.35s stroke-dashoffset;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.wrapper {
  position: relative;
}

.pomodoro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.ctrls {
  position: relative;
  bottom: 200px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start__pause {
  width: 110px;
}

time {
  font-size: 3rem;
  color: #FFFFFF;
}

.break__mode--btn {
  width: 106px;
  padding: 16px;
  background-color: inherit;
  outline: none;
  border: none;
  border-radius: 30px;
  color: #EFF1FA;
}

.break__mode--btn:hover {
  cursor: pointer;
}

.break__line {
  width: 87.2%;
  margin: auto;
}

.break__mode--btn:focus {
  background-color: #F87070;
  color: #161932;
}

.break__mode {
  width: 87.2%;
  max-width: 350px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__options--btn {
  background: no-repeat;
  border: none;
  margin: auto;
  display: block;
}

.modal__settings {
  width: 87.2%;
  position: absolute;
  top: 46px;
  left: 5%;
  background-color: #FFFFFF;
  height: auto;
  visibility: hidden;
  border-radius: 15px;
}

.modal__settings__hide {
  visibility: visible;
}

.settings__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

input.timesetter,
input.time__control {
  position: relative;
}

.time__settings, .fonts, .colors {
  padding: 24px 0 10px;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: 1rem;
  font-weight: 600;
  width: 120px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.time__incremental {
  position: relative;
  width: 85%;
  margin: 14px auto;
}

.controls {
  position: absolute;
  right: 15px;
  top: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  /* align-items: start; */
}

label {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time__control, .time__control__short, .time__control__long {
  padding: 10px;
  border-radius: 15px;
  background-color: #d3e2f0;
  border: none;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4.23px;
  line-height: 100%;
  font-size: 0.69rem;
}

.controls__timer {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.font__selection, .color__selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin: 14px auto;
}

.fonts__container, .color__container {
  position: relative;
}

.fonts__list, .color__list {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 40px;
  height: 40px;
  background-color: #EFF1FA;
  position: absolute;
  z-index: 1;
  border-radius: 100%;
}

.fonts__label {
  z-index: 5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* place-content: center; */
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input[type="radio"]:checked + label {
  background: #161932;
  color: #FFFFFF;
  border-radius: 100%;
}

.orange {
  background-color: #f87070;
}

.turquoise {
  background-color: #70f3f8;
}

.purple {
  background-color: #d881f8;
}

.apply {
  width: 140px;
  margin: auto;
  display: block;
  padding: 18px;
  border-radius: 26.5px;
  border: none;
  font-size: 1rem;
  font-weight: 800;
  background-color: #F87070;
  color: #FFFFFF;
  position: relative;
  top: 26px;
}
/*# sourceMappingURL=style.css.map */