@import 'variables';

* {
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: $bg-color-sec;
  height: 100%;
  position: relative; 
  font-size: 16px;
}
.kumbh__font {
  font-family: $kumb-font;
}
.mono__font {
  font-family: $space-font;
}
.roboto__font {
  font-family: $roboto-font;
}
h1 {
  text-align: center;
  color: white;
  margin-top: 32px;
  font-size: 1.5rem;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4.23px;
  line-height: 100%;
  font-size: 0.69rem;
}

.wrapper {
  position: relative;
}
/*-------------------------------------------------
          svg circular ring
---------------------------------------------------*/
.progress-ring {
  box-shadow: 0px 1px 5px 17px #292d53;
  background-color: $bg-color-main;
  border-radius: 50%;
}
.progress-ring__circle {
  stroke: $tx-bg-color;
  transition: 0.35s stroke-dashoffset;
  // axis compensation
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.lime__ring {
  stroke: $tx-lime;
}
.purple__ring {
  stroke: $tx-purple;
}
.pomodoro__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
/* ---------------------------------
    start and pause timer
    ------------------------------*/
.ctrls {
  position: relative;
  bottom: 200px;
  left: 0px;
  display: flex;
  place-content: center;
  flex-direction: column;
  align-items: center;
}

/* pausing and starting timer */
.start__pause {
  width: 110px;
  background-color: inherit;
  border: none;
  color: $tx-off-white;
  font-size: 0.875rem;
  letter-spacing: 13.13px;
  font-weight: 600;
}

time {
  font-size: 4rem;
  color: $tx-white;
  font-weight: 800;
}

/* -------------------------------------------
        pomodoro, short and long break selector
        --------------------------------------*/
.break__mode--btn {
  width: 106px;
  padding: 16px;
  outline: none;
  border: none;
  border-radius: 30px;
  color: $tx-off-white;
  height: 40px;
  appearance: none;
  border-radius: 30px;
}
/*when input radio is checked, label must
change background and color among other things*/
input[type="radio"]:checked+label.break__mode__ctrls {
  background: $btn-bg-color;
  color: $bg-color-main;
  border-radius: 30px;
  opacity: 1;
  left: 0px;
 /* height: 40px;
  width: 100%;*/
  top: 0px;
  text-align: center;
  display: block;
  line-height: 40px;
}
.lime__btn {
  background-color: $tx-lime;
}
.break__mode__ctrls {
  position: absolute;
  left: 0px;
  top: 10px;
  color: $tx-off-white;
}

.break__mode--btn:hover {
  cursor: pointer;
}

.break__line {
  width: 87.2%;
  margin: auto;
}
/*
.break__mode--btn:focus {
  background-color: $tx-bg-color;
  color: $bg-color-main;
}*/
.break__mode--btn:hover {
  cursor: pointer;
}
.break__mode {
  width: 87.2%;
  max-width: 350px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__options--btn {
  background: no-repeat;
  border: none;
  margin: auto;
  display: block;
}
/* -------------------------------------
  MODAL SETTINGS PAGE
  ------------------------------------*/
.modal__settings {
  width: 87.2%;
  position: absolute;
  top: 46px;
  left: 5%;
  background-color: #FFFFFF;
  height: auto;
  visibility: hidden;
  border-radius: 15px;
}

.modal__settings__hide {
  visibility: visible;
}

.settings__nav {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

input.timesetter,
input.time__control {
  position: relative;
}

.time__settings,
.fonts,
.colors {
  padding: 24px 0 10px;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: 1rem;
  font-weight: 600;
  width: 120px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.time__incremental {
  position: relative;
  width: 85%;
  margin: 14px auto;

}
.controls {
  position: absolute;
  right: 15px;
  top: -1px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* align-items: start; */
}

label {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  font-size: 0.875rem;
}

.time__control,
.time__control__short,
.time__control__long {
  padding: 10px;
  border-radius: 15px;
  background-color: #d3e2f0;
  border: none;
}

.controls__timer {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.font__selection,
.color__selection {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 14px auto;
}

.fonts__container,
.color__container {
  position: relative;
}

.fonts__list,
.color__list {
  appearance: none;
  width: 40px;
  height: 40px;
  background-color: $tx-off-white;
  position: absolute;
  z-index: 1;
  border-radius: 100%;
}

.fonts__label,
.color__label {
  z-index: 5;
  position: relative;
  display: flex;
  /* place-content: center; */
  width: 40px;
  height: 40px;
  justify-content: center;
}

.color__label {
  opacity: 0;
}

input[type="radio"]:checked+label {
  background: $bg-color-main;
  color: $tx-white;
  border-radius: 100%;
  opacity: 1;
}

.orange {
  background-color: #f87070;
}

.turquoise {
  background-color: #70f3f8;
}

.purple {
  background-color: #d881f8;
}

.apply {
  width: 140px;
  margin: auto;
  display: block;
  padding: 18px;
  border-radius: 26.5px;
  border: none;
  font-size: 1rem;
  font-weight: 800;
  background-color: $tx-bg-color;
  color: $tx-white;
  position: relative;
  top: 26px;
}

.pomodoro__ctrls {
  position: relative;
}